/*
Theme Name: onehower
Theme URI: http://www.onehower.com
Description: just do practice for wordpress
Version: v.10.0
Author: princess310
Author URI: http://www.onehower.com
Tags: 标签，wordpress,onehower theme
*/

html{ font:normal 62.5%/2.3em '微软雅黑',Arial; }

body {
    padding:0;
    margin:0 auto;
    font-family:'微软雅黑',Arial;
    color:#636363;
    background:url(./assets/images/bodybg.jpg) center top;
    -webkit-text-size-adjust:none;
    -webkit-text-size-adjust:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-tap-highlight:rgba(0,0,0,0); /*取出点击出现半透明的灰色背景*/
    -webkit-user-select: none;  /*控制内容的可选择性*/
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

/* header */
.header-container {
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 10;
    background: url(./assets/images/bgtop.png) repeat-y center top;
    background-size: 100% 100%;
    border-top: 3px solid #804036;
}

.header-wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.navbar {
    background: none;
    border: 0;
    margin: 0;
}

.navbar-default .navbar-brand {
    height: auto;
}

.navbar-default .navbar-right {
    float: right;
}

.navbar-default .navbar-right .share {
    padding-top: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar-default .navbar-right .share img {
    margin: 0 8px;
}

.navbar-default .navbar-right .share .xlwb {
    background: url(assets/images/Sina.png) no-repeat center;
    width: 28px;
    height: 28px;
    margin-right: 13px;
}

.navbar-default .navbar-right .share .bds_weixin {
    background: url(assets/images/Wechat.png) no-repeat center;
    width: 28px;
    height: 28px;
}

.header-container .navbar-right ul {
    margin-top: 32px;
}

.header-container .navbar-right ul li {
    margin: 0 15px;
}
.header-container .navbar-right ul li a {
    font-size: 1.125em;
    color: #5e423e;
    text-align: center;
    padding: 14px 15px;
    line-height: 1;
}

.header-container .navbar-right ul li a:hover,
.header-container .navbar-right ul .current a,
.header-container .navbar-right ul .current_page_item a {
    border-bottom: 3px solid rgba(128,64,54,1);
}

.navbar-toggle {
    background-color: transparent;
    color: #ddd;
}

/* Page */
.page-container {
    padding-top: 135px;
    max-width: 1440px;
    margin: 0 auto;
}

/* Media */
@media (max-width: 450px) {
    body {
        font-size: 1.2em;
    }
}
@media (max-width: 767px) {
    .header-container {
        background-size: auto;
    }

    .navbar-default .navbar-right {
        float: none;
    }

    .navbar-default .navbar-right .share {
        justify-content: center;
    }

    .header-container .navbar-right ul li {
        width: 31%;
        float: left;
        margin: 3px;
    }
}

body #bdshare_weixin_qrcode_dialog{ overflow:hidden; width:262px !important; height:317px !important;}
ul,li,form, dl,dt,dd, div{ padding:0px; margin:0px; list-style:none;}
.h1,.h2,.h3,.h4,.h5,.h6,.p{ padding:0px; margin:0px;}
select,input,em,textarea{ font-size:1em; font-style:normal; color:#636363; font-family:'微软雅黑'; border-radius:0; -webkit-border-radius:0;}
img,object{ border:none; max-width:100%; border:0; overflow:hidden; vertical-align:top;}
a{ color:#636363; text-decoration:none; noline:-webkit-tap-highlight-color:rgba(0,0,0,0);}  /* 去掉链接触摸高亮 */
a:hover{ color:#5e423e;}
a:focus {outline:none; -moz-outline:none;}
.Texthide{ display:none;}

.Contain{ width:100%; margin:0 auto;}
.SinglePage{ text-justify:inter-ideograph; text-align:justify; word-wrap:break-word; clear:both; overflow:hidden;}

.space{ width:100%; height:1em; clear:both; overflow:hidden; zoom:0;}
.clear{ clear:both; height:0px; overflow:hidden; zoom:0;}

/*top.html*/
.Toper{ width:100%; background:url(../images/bgtop.png) repeat-y center top; background-size:100% 100%; border-top:3px solid #804036;}
.TopPosition,.TopCopy{ position:fixed; top:0; z-index:10;}
.TopCopy{ display:none;}
.Top{ max-width:1440px; margin:0 auto;}
.TopCont{ margin:0; position:relative;}
.navbar{ background:none; border:0; margin:0;}
.Top .container{ padding-left:0; padding-right:0;}
.container .navbar-header .logo{ padding:9px 13px 8px; margin:0;}
.container .NavCont{ padding-top:58px; padding-left:0; padding-right:0; float:right;}
.container .NavCont .nav{ padding-left:0; padding-right:0; margin:0;}
.container .NavCont ul li{ margin:0 15px;}
.container .NavCont ul li a{ font-size:1.125em; color:#5e423e; text-align:center; padding:14px 15px; line-height:1; border-bottom:3px solid rgba(128,64,54,0)}
.container .NavCont ul li.onnav a,.container .NavCont ul li a:hover{ border-bottom:3px solid  rgba(128,64,54,1);}

.TopCopy .container .NavCont{ padding-top:0px; padding-left:0; padding-right:0; float:none;}


.Top_Share{ width:288px; position:absolute; top:3px; right:0;}
.Top_Share .Top_Phone{ float:right;}
.Top_Share .bds_tools a.xlwb{ background:url(../images/Sina.png) no-repeat center; width:28px; height:28px; margin-right:13px;} 
.Top_Share .bds_tools a.wx{ background:url(../images/Wechat.png) no-repeat center; width:28px; height:28px;} 

/*top.html*/

/*ColumnParent*/
.ColumnParent{ text-align:center; padding-top:40px;}
.Current{ text-align:center; font-size:1.5em; padding:20px 0; line-height:1.5; color:#5e423e;}
.Current a{ color:#5e423e;}
.CurrentColumn{ font-size:2.25em; color:#804036; text-align:center; line-height:1; padding:25px 0;}

/*ColumnParent*/

/*MainContent*/
.MainContent{ max-width:1440px; margin:0 auto;}

/*MainContent*/

/*Content1*/
.Content1{ font-size:0.875em;}
.Content1 img{ display:block; margin:0 auto;}
.Content1 p{ line-height:2; margin:0;}
/*Content1*/

/*Content2*/
.Content2{ max-width:828px; margin:0 auto; padding:0 20px; background:url(../images/bg2.png) no-repeat center; background-size:auto 100%; margin-bottom:180px; margin-top:40px;}
.Content2 ul.ContList{ width:100%;}
.Content2 ul.ContList li{ width:100%; background:url(../images/bg3.png) no-repeat center; padding:20px 0;}
.Content2 ul.ContList li .Cont2Title{ width:46.74%; float:left; text-align:right; font-size:0.875em; color:#886e5e;}
.Content2 ul.ContList li .Cont2Title p{ margin:0;}
.Content2 ul.ContList li .Cont2Img{ width:46.74%; float:right;}

/*Content2*/

/*Content3*/
.Content3{ padding:70px 0; font-size:1.25em; color:#804036;}
.Content3 .col-md-5,.Content3 .col-md-7{ padding-left:0; padding-right:0;}
.Content3 img{ display:block;}
.Content3 .left{ border-right:1px solid #d8ccbd;}
.Content3 p{ margin:0; line-height:1.5;}
.Content3 .BrandCont{ width:1024px;}
/*Content3*/

/*Content4 shop*/
.AreaSelect{ padding:0 20px;}
.AreaSelect .AreaList{ background:url(../images/bg8.png) no-repeat center; height:50px;}
.AreaSelect .AreaList .col-md-4{ padding-left:10px; padding-right:10px; }
.AreaSelect .AreaList ul{ max-width:628px; margin:0 auto;}
.SelectBox{ background:url(../images/bg9.png) no-repeat left top; background-size: 100% 100%; width:100%; height:50px; padding:0 10px; position:relative; margin:0 auto; color:#804036; z-index:8;}
.SelectBox .SelectText{ display:block; background:url(../images/bg10.png) no-repeat right center; font-size:1.25em; padding-right:18px; height:50px; line-height:50px; cursor:pointer;}
.SelectBox .SelectList{ position:absolute; left:0px; top:50px; width:100%; background:url(../images/bgtop.jpg) no-repeat center; background-size:100% 100%; display:none; z-index:9;}
.SelectBox .SelectList dt{ display:block; cursor:pointer; font-size:1em; font-weight:normal;}
.SelectBox .SelectList dt a{ padding:0 10px; display:block; color:#7B6A63; line-height:28px; height:28px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.SelectBox .SelectList dt a:hover{ background:#7B6A63; color:#fff;}

.Content4{ max-width:1240px; margin:0 auto;}
.Content4 .ShopList ul li{ margin-top:80px;}
.Content4 .ShopList ul li .ShopImg{ position:relative; overflow:hidden;}
.Content4 .ShopList ul li .ShopImg img.Img1{ width:100%;}
.Content4 .ShopList ul li .ImgTop{ background:url(../images/bg7.png) repeat left top; width:100%; position:absolute; left:0; top:0; display:none;}
.Content4 .ShopList ul li .ImgTop img{ margin:0 auto; display:block; padding-top:18.25%; width:28.5%; padding-bottom:28.25%;}
.Content4 .ShopList ul li .ImgTop p{ text-align:center; color:#f9f0e4; font-size:1.875em; font-family:Arial; line-height:1; margin-top:11.25%;}
.Content4 .ShopList ul li .ShopCont{ color:#6d5d52; background:url(../images/bg4.png) no-repeat center bottom; background-size:100% auto; padding:0 4.75%; position:relative;}
.Content4 .ShopList ul li .ShopCont .title{ font-size:1.5em; display:block; line-height:2.5;}
.Content4 .ShopList ul li .ShopCont .title  span{ float:right;}
.Content4 .ShopList ul li .ShopCont .address{ font-size:0.875em; line-height:1.8; padding-bottom:3.75%; height:50px; overflow:hidden;}
.Content4 .ShopList ul li .ShopCont em{ position:absolute; width:20px; height:20px; right:6px; bottom:8px; display:none;}
.Content4 .ShopList ul li a:hover{ text-decoration:none;}

/*Content4 shop*/

/*Content5 party*/
.Content5{ max-width:1024px; margin:0 auto; padding:0 30px;}
.Content5 .PartyList li{ width:100%; background:url(../images/bg11.png) no-repeat center; background-size:100% 100%; margin:2.45% 0; border-radius:1px; float:right; padding:2.545% 0;}
.Content5 .PartyList li div.PartyTime{ background:url(../images/bg12.png) no-repeat center; background-size:100% 100%; text-align:center; color:#f2f2f2; width:9.183%; margin-top:2.449%;}
.Content5 .PartyList li div.PartyTime span{ font-size:0.875em; line-height:1; padding:19.7% 0 9.11%; display:block;}
.Content5 .PartyList li div.PartyTime p{ padding:8.11% 0 18.22%; font-size:1.125em; font-weight:bold; margin:0;}
.Content5 .PartyList li div.PartyCont{ float:right; width:63.78%; margin-right:2.143%;}
.Content5 .PartyList li div.PartyCont .PartyTime1{ display:none;}
.Content5 .PartyList li div.PartyCont .PartyTitle{ font-size:0.875em; color:#804036; font-weight:bold; line-height:2;}
.Content5 .PartyList li div.PartyCont p{ font-size:0.75em; color:#5e423e; line-height:2; margin:0;}
.Content5 .PartyList li div.PartyCont .more{ color:#804036; font-size:0.75em;}
.Content5 .PartyList li div.PartyCont .more span{ padding-left:10px; font-family:"宋体";}
.Content5 .PartyList li div.PartyCont .more:hover{ text-decoration:none;}
.Content5 .PartyList li div.PartyImg{ float:right; width:20.41%; margin-right:2.143%;}
.Content5 .PartyList li div.PartyImg img{ width:100%;}

.PartyName{ text-align:center; background:url(../images/bg13.png) no-repeat center bottom;}
.PartyName span{ font-size:2.25em; color:#804036; line-height:1.5;}
.PartyName p{ color:#ae8a81; font-size:0.875em; line-height:1.5; padding-bottom:20px;}
.PartyInfo{ max-width:1180px; margin:20px auto 40px; line-height:2; padding:0 40px; font-size:0.75em; color:#310902;}
.PartyInfo img{ margin:0 auto; display:block;}

.NewsInfo{ max-width:1180px; margin:20px auto 40px; line-height:2; padding:0 40px; font-size:0.75em; color:#310902;}
.NewsInfo img{ margin:0 auto; display:block;}
/*Content5 party*/

/*Content6*/
.KeyCont{ font-size:1.875em; text-align:center; color:#5e423e; padding:25px 0; line-height:1;}
.Content6{ background:url(../images/bg13.png) no-repeat center bottom; padding:0 20px 40px; text-align:center;}
.Content6 .Content6_1{ max-width:1440px; margin:0 auto; font-size:0.875em;}
.Content6 .Content6_1 img{ margin:0 auto; display:block;}
.Content6 .Content6_1 p{ color:#6d5d52; font-size:1em; margin:0; line-height:2;}

/*Content6*/

/*Content7*/
.KeyCont1{ font-size:1.875em; text-align:center; color:#5e423e; padding:25px 0; line-height:1;}
.Content7{ background:url(../images/bg13.png) no-repeat center bottom; padding:0 20px 40px; text-align:center;}
.Content8{ background:url(../images/bg13.png) no-repeat center bottom; padding:0 5px 40px; text-align:center;}
.Content7 .Content7_1{ max-width:1440px; margin:0 auto; font-size:0.875em;}
.Content7 .Content7_1 img{ margin:0 auto; display:block;}
.Content7 .Content7_1 p{ color:#6d5d52; font-size:1em; margin:0; line-height:2;}
.KeyTable{ max-width:990px; margin:0 auto;}
.KeyTable .TableImg{ width:20%; float:left; background:url(../images/bg15.png) no-repeat left top; background-size:498% 100%;}
.KeyTable .TableImg img{ padding:5.5%; display:block;}
.KeyTable .TableImg p{ color:#45322f; font-size:0.875em; line-height:1; padding:7% 0; margin-bottom:0;}

/*Content7*/

/*trading*/
.container{ width:auto;}
.trading{ max-width:980px; margin:0 auto; overflow:hidden; padding:40px 0;}
.trading .table_title{ padding:3.5% 0; background:url(../images/bg18.jpg) no-repeat center; background-size:100% 100%; text-align:center; color:#f6eedb;}
.trading .table_title .text{ display:inline-block; width:73px; height:23px; margin:0 10px; padding:0; text-align:center; background:#f6eedb; line-height:23px; vertical-align:middle; color:#5e423e;}
.trading .table_title .prev{ display:inline-block; width:7px; height:12px; background:url(../images/trading_left.png) no-repeat; vertical-align:middle;}
.trading .table_title .next{ display:inline-block; width:7px; height:12px; background:url(../images/trading_right.png) no-repeat; margin-right:8px; vertical-align:middle;}
.trading .table_title em{ padding:0 11.86%;}
.trading .lanfont{ color:#5e423e;}
.trading .except{ color:#5e423e;}
.trading .blue{ color:#5e423e; cursor:pointer;}
.trading .blue a{ color:#5e423e; display:block; padding:13px 0 4px; margin:0 2%;}
.trading .blue:hover a{ background:url(../images/bg21.png) no-repeat center; text-decoration:none;}
.trading .onToday a{ background:url(../images/bg21.png) no-repeat center; color:#5e423e; display:block; padding:13px 0 4px; margin:0 2%;}
.trading .calendartable{}
.trading .calendartable table{ width:100%;}
.trading .calendartable table td{ width:14%; text-align:center; padding:14px 0 21px; font-size:1em; line-height:1; background:url(../images/bg19.png) no-repeat center; background-size:100% 100%; color:#5e423e;}
.trading .trading_content{ background-color:rgba(127,104,95,0.19); padding:0 4%;}
.trading .trading_content .con{ font-size:1em; line-height:1;}
.trading .trading_content .con ul li{ padding-left:15px; background:url(../images/bg22.png) no-repeat left 6px; margin:8% 0;}
.trading .trading_content .con ul li a{ font-size:0.75em; line-height:2; color:#45322f;}
.trading .trading_content .con ul li a:hover{ text-decoration:none;}
.trading .trading_content .title{ font-size:1.5em; color:#5e423e; font-weight:bold; padding:5% 0 3%;}
.trading .trading_content .Pages1{ text-align:right; padding:6.5% 0 3%;}
.trading .trading_content .Pages1 a{}
/*trading*/

/*music*/
.Content9{ width:100%; margin-bottom:70px;}
.MusicList{ background:url(../images/bg26.png) no-repeat center bottom; background-size:100% 100%;}
.MusicList .HList{ max-width:980px; margin:0 auto; text-align:center;}
.MusicList .HList .MList{ padding-top:3.878%; padding-bottom:3.57%;}
.MusicList .HList .Singer{ margin:0 auto; display:block; position:relative; width:80%; border:6px solid #735a4b; -moz-border-radius:85px; -webkit-border-radius:85px; border-radius:85px;}
.MusicList .SingerImg{ margin:0 auto; width:100%; -moz-border-radius:85px; -webkit-border-radius:85px; border-radius:85px;}
.MusicList .HList .Singer span{ width:28%; display:block; position:absolute; top:50%; left:50%; margin-left:-15px; margin-top:-10px; display:none; z-index:2;}
.MusicList .HList .Singer .BoxMark{ width:100%; height:100%; position:absolute; left:0; top:0; z-index1; background:#000; -moz-opacity:0.6; opacity:0.6; filter:alpha(opacity=60); -moz-border-radius:85px; -webkit-border-radius:85px; border-radius:85px; display:none;}
.MusicList .Play .Singer .BoxMark,.MusicList .Play .Singer span{ display:block;}
.MusicList .HList p{ font-size:0.75em; color:#735a4b; margin:0;}
.MusicList .HList p span{ font-size:1.33em; font-weight:bold; padding-right:5px; line-height:3;}
.MusicList .HList .Vote{ display:inline-block; background:#735a4b; font-size:0.875em; color:#f9f0e4; line-height:30px; padding:0 10px; border-radius:15px; margin-top:5px;}
.MusicList .HList .Vote img{ vertical-align:middle; padding-right:10px;}
/*music*/

/*advantage*/
.Content10{ text-align:center; padding:30px 0;}
.Line{ width:100%; height:1px; background:url(../images/bg13.png) no-repeat center;}
.KeyCont2{ font-size:1.875em; text-align:center; color:#5e423e; padding:25px 0; line-height:1.3;}
.KeyCont2 img{ vertical-align:text-bottom; }
.Content11{ background:url(../images/bg13.png) no-repeat center bottom; padding:0 20px 40px; text-align:center;}
.Content11 .Content11_1{ max-width:1440px; margin:0 auto; font-size:0.875em;}
.Content11 .Content11_1 img{ margin:0 auto; display:block;}
.Content11 .Content11_1 p{ color:#6d5d52; margin:0; line-height:2;}

.Content12{ max-width:1024px; margin:0 auto; padding:40px 0; font-size:1em; line-height:2;}
.Content12 a{ color:#5e423e; padding:10px;}
/*advantage*/

/*JoinTable*/
.JoinTable{ max-width:1000px; margin:0 auto;}
.JoinTable table{ width:100%;}
.JoinTable table tr td{ padding:0 1%; color:#5e423e; line-height:48px;}
.JoinTable table tr td .text{ background:none; border:none; width:70%;}
.JoinTable table tr td .text1{ width:10%; margin:0 10px;}
.JoinTable .submit{ text-align:center;}
.JoinTable .submit .btn{ background:url(../images/bg_btn.png) no-repeat center; background-size:100% 100%; border:none; border-radius:0; color:#faf2e9; margin:6% auto; padding:1.5% 4.5%;}

/*JoinTable*/

/*Process*/
.Process{ max-width:1440px; margin:60px auto;}
.Process img{ margin:0 auto; display:block;}
/*Process*/

/*Pages*/
.Page{ text-align:center; padding-bottom:5.306%; padding-top:3.061%;}
.Page a{ padding:0 10px; font-size:0.875em; margin:0 3px; line-height:2; display:inline-block; border:1px solid #5e423e; color:#5e423e;}
.Page a.cur,.Page a:hover{ color:#f7ebde; background:#5e423e; text-decoration:none;}
/*Pages*/

/*index*/
.HomeBanner{ width:100%; height:100%; position:relative; z-index:5; overflow:hidden; padding:0 10px;}
.HomeBanner #HomeBan{ height:100%;}
.HomeBanner .BanList{ width:100%; height:100%; z-index:6; position:relative;}
.HomeBanner ul li{ width:100%; height:100%; overflow:hidden;}
.HomeBanner ul li a{ height:100%; width:100%; display:block; background-size:auto 100%; background-position:center; background-repeat:no-repeat;}
.HomeBanner ul li a img{ width:100%; max-width:auto;}

.HomeBanner .banNext{ position:absolute; z-index:8;}

.IndexNav{ position:absolute; bottom:20px; z-index:20; width:35px; left:48%; cursor:pointer; display:block;}
.IndexNav img{ display:block;}
.TopHeight{ display:block;}

#homeNavWrapper{position: fixed; z-index: 100; left: 15px; bottom:150px; display:block;}
#homeNavWrapper .navControls{position: absolute; left: 35px;}
@media (min-width:769px) and (max-width: 1024px){
	#homeNavWrapper .navControls{left: 10px;}
}
@media screen and (max-width: 768px){
	#homeNavWrapper .navControls{left: 5px;}
}
#homeNavWrapper .navControls a{display: block; width: 30px; height: 30px; background-image: url(../images/homeControls.png); margin: 6px 0;}

#homeNavWrapper .navControls a{opacity:0.6; /*filter:alpha(opacity=60);*/ -moz-opacity:0.6; -khtml-opacity: 0.6;}
#homeNavWrapper .navControls a:hover{cursor: pointer; opacity:1; /*filter:alpha(opacity=100);*/ -moz-opacity:1; -khtml-opacity: 1;}

#homeNavWrapper.white .navControls a.upSlide{background-position: 40px -630px;}

#homeNavWrapper.white .navControls a.downSlide{background-position: 40px -830px;}

#dowebok{ position:relative; z-index:1;}

.Column1,.Column2,.Column3,.Column4,.Column5,.Column6{ padding:0 20px;}
.ColumnName{ padding:30px 20px; text-align:center;}
.ColCont1_1{ text-align:center; max-width:880px; margin:0 auto;}
.ColCont1_1 span{ padding:0 8%;}
.ColCont1_1 a img{ vertical-align:middle; width:18.18%;}
.ColCont1_1 span img{ width:2.27%; vertical-align:middle;}

.ColCont1_2{ max-width:1024px; margin:0 auto; text-align:center; color:#5e423e; background:url(../images/bg31.png) no-repeat center; padding:20px 0;}

.ColCont1_3{ max-width:1024px; margin:0 auto; padding-bottom:20px;}
.ColCont1_3 p{ width:23.67%; background:url(../images/bg22.png) no-repeat left 6px; padding-left:15px; float:left; font-size:0.875em; margin-left:14.495%; color:#6d5d52;}
.ColCont1_3 p a{ color:#6d5d52;}

.ColCont1_4{ max-width:1024px; margin:0 auto;}
.ColCont1_4 ul li{ width:24.93%; float:left; padding-left:1px; position:relative;}
.ColCont1_4 ul li .ATop{ position:absolute; background:rgba(103,62,56,0.4); top:0; left:0; width:100%; text-align:center; height:100%; display:block;}
.ColCont1_4 ul li .ATop img{ vertical-align:middle; width:28.5%; margin-top:26%;}
.ColCont1_4 ul li .ATop .AHover{ display:none;}

.ColCont2_1{ text-align:center; max-width:1024px; margin:0 auto; background:url(../images/bg33.png) no-repeat center; background-size:100%; padding:1.68% 0;}
.ColCont2_1 a{ padding:0 2.35%;}
.ColCont2_1 a img{ vertical-align:middle; width:17.7%;}
.ColCont2_1 a img.AShow2{ display:none;}
.TimeL{ padding-top:40px; text-align:center;}
.TimeL a{ padding:0 20px; border-right:1px solid #6e605e;}
.TimeL a img{ vertical-align:middle;}

.ColCont2_2{ max-width:1024px; margin:0 auto;}
.ColCont2_2 ul li{}
.ColCont2_2 ul li .ShopImg{ position:relative; overflow:hidden;}
.ColCont2_2 ul li .ShopImg img.Img1{ width:100%;}
.ColCont2_2 ul li .ImgTop{ background:url(../images/bg7.png) repeat left top; width:100%; height:100%; position:absolute; left:0; top:0; display:none;}
.ColCont2_2 ul li .ImgTop img{ margin:0 auto; display:block; padding-top:18.25%; width:28.5%;}
.ColCont2_2 ul li .ImgTop p{ text-align:center; color:#f9f0e4; font-size:1.875em; font-family:Arial; line-height:1; margin-top:11.25%;}
.ColCont2_2 ul li .ShopCont{ color:#6d5d52; background:url(../images/bg4.png) no-repeat center bottom; background-size:100% auto; padding:0 4.75%; position:relative;}
.ColCont2_2 ul li .ShopCont span{ font-size:1.5em; display:block; line-height:2.5;}
.ColCont2_2 ul li .ShopCont p{ font-size:0.875em; line-height:1.8; padding-bottom:3.75%;}
.ColCont2_2 ul li .ShopCont em{ position:absolute; width:20px; height:20px; right:6px; bottom:8px; display:none;}
.ColCont2_2 ul li a:hover{ text-decoration:none;}

.ColCont3_1{ max-width:1024px; margin:0 auto; text-align:center; line-height:1.8; padding-bottom:30px;}
.ColCont3_1 p{ margin:0;}

.ColCont3_2{ max-width:1024px; margin:0 auto; height:224px; padding-bottom:20px;}
.ColCont3_2 .DIV{ width:50%; height:100%; float:left;}
.ColCont3_2 #DIV1{ position:relative;}
.ColCont3_2 #DIV1 .prev1{ position:absolute; bottom:10px; right:41px; z-index:9;}
.ColCont3_2 #DIV1 .next1{ position:absolute; bottom:10px; right:10px; z-index:9;}
.ColCont3_2 #DIV1 img{ width:100%;}
/*.ColCont3_2 #DIV2{ background:url(../images/bg34.jpg) no-repeat center; background-size:100% 100%;}
.ColCont3_2 #DIV2 dl{ height:100%; position:relative;}
.ColCont3_2 #DIV2 dl dd{ width:43.58%; height:80%; margin-left:5.3%; margin-top:5.3%; float:left;}*/

/*音乐播放器*/
.Play_contorl{ width:53px; height:171px; background:url(../images/Play_conrol_BG.png) no-repeat left top; position:fixed; right:0; top:158px; z-index:99;}
.Play_contorl .BtnBox{ width:100%; height:100%; position:relative;}
.Play_contorl .Playbtn{ position:absolute; cursor:pointer;}
.Play_contorl .Prev{ width:39px; height:39px; background:url(../images/Play_btn.png) no-repeat 0 -56px; left:-5px; top:11px;}
.Play_contorl .Prev:hover{ background:url(../images/Play_btn.png) no-repeat -57px -56px;}
.Play_contorl .Next{ width:39px; height:39px; background:url(../images/Play_btn.png) no-repeat 0 -100px; left:-5px; bottom:20px;}
.Play_contorl .Next:hover{ background:url(../images/Play_btn.png) no-repeat -57px -100px;}
.Play_contorl .Play,.Play_contorl .Pause{ width:51px; height:51px; left:-21px; top:55px;}
.Play_contorl .Play{ background:url(../images/Play_btn.png) no-repeat 0 0;}
.Play_contorl .Play:hover{ background:url(../images/Play_btn.png) no-repeat -57px 0;}
.Play_contorl .Pause{ background:url(../images/Play_btn.png) no-repeat -115px 0;}
.Play_contorl .Pause:hover{ background:url(../images/Play_btn.png) no-repeat -172px 0;}
.mbPlayBtn{ width:50px; height:50px; position:fixed; right:3%; top:28%; z-index:9;}
.mbPlay{ background:url(../images/phone_Play.png) no-repeat 0 0; -moz-background-size:contain; background-size:contain;}
.mbPause{ background:url(../images/phone_Pause.png) no-repeat left top; -moz-background-size:contain; background-size:contain;}

.MusicBox{ position:relative; background:url(../images/music_BG.jpg) repeat; padding:42px 20px 0; overflow:hidden;}
.MusicBox .Ti{ width:48%; position:absolute; top:10%; left:33%;}
.MusicBox .Ti img{ max-width:100%;}
.MusicBox .PlayerBox{ float:left; width:46%;}
.MusicBox .PlayerBox .CD{ position:relative; width:62%; float:left;}
.MusicBox .PlayerBox .CD .audio{ display:none;}
.MusicBox .PlayerBox .CD img{ width:100%; max-width:240px;}
.MusicBox .PlayerBox .CD_BG,.MusicBox .PlayerBox .CD_mark{ background-position:left top; background-repeat:no-repeat; -moz-background-size:contain; background-size:contain; position:absolute; left:0; top:0;}
.MusicBox .PlayerBox .CD_BG{ width:100%; height:100%; background-image:url(../images/music_img_mark.png); z-index:1;}
.MusicBox .PlayerBox .CD_mark{ width:100%; height:100%; background-image:url(../images/Play_CD.png); z-index:2;}
.MusicBox .PlayerBox .CD_head{ width:50%; height:36%; background:url(../images/Play_head.png) no-repeat left top; -moz-background-size:contain; background-size:contain; position:absolute; right:-24%; top:30%; z-index:3;}
.MusicBox .PlayerBox .info{ width:30%; float:right; padding-top:34%;}
.MusicBox .PlayerBox .info dd{ color:#fff; padding-bottom:2%;}
.MusicBox .PlayerBox .info .Singer_Name,.MusicBox .PlayerBox .info .Music_Name{ display:block; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.MusicBox .PlayerBox .info .Music_Name{ font-size:12px;}
.MusicBox .PlayerBox .info .Rhythm{ width:30%; padding-top:5%;}

.MusicBox .MusicList{ width:52%; float:right; margin-top:8%;}
.MusicBox .MusicList .aBtn{ width:25px; height:100px; cursor:pointer;}
.MusicBox .MusicList .Prev{ background:url(../images/prev.png) no-repeat center center; float:left;}
.MusicBox .MusicList .Next{ background:url(../images/next.png) no-repeat center center; float:right;}
.MusicBox .MusicList .disable{ -moz-opacity:0.4; opacity:0.4; filter:alpha(opacity=40); cursor:default;}
.MusicBox .MusicList .disable:hover{ -moz-opacity:1; opacity:1; filter:alpha(opacity=100); }
.MusicBox .MusicList .List{ /*width:80%;*/ float:left; /*overflow:hidden; position:relative;*/ width:195px; height:123px;}
.MusicBox .MusicList .List li{ float:left; width:96px; padding:0 4px; /*width:50%; padding:0 2%;*/}
.MusicBox .MusicList .List li figure{ cursor:pointer;}
.MusicBox .MusicList .List li .pic{ position:relative;}
.MusicBox .MusicList .List li .pic img{ width:100%;}
.MusicBox .MusicList .List li .Mark{ width:100%; height:100%; background:url(../images/music_List_mark.png) no-repeat left top; -moz-background-size:contain; background-size:contain; position:absolute; left:0; top:0;}
.MusicBox .MusicList .List li figcaption{ color:#BBAA9D; text-align:center; font-size:12px; padding-top:3%;}
.MusicBox .tips{ color:#fff; font-size:14px; text-align:center; padding-top:15%;}


/*==================动画=================*/
/*磁头*/
.MusicBox .MusicPlay .CD_head {
-moz-transform:rotate(-10deg); 
-moz-transform-origin:top right;

-ms-transform:rotate(-10deg); 
-ms-transform-origin:top right;

-webkit-transform:rotate(-10deg); 
-webkit-transform-origin:top right;

-o-transform:rotate(-10deg); 
-o-transform-origin:top right;

transform:rotate(-10deg); 
transform-origin:top right;
}

/*CD*/
.MusicBox .MusicPlay .CD_mark {
-o-animation:CDPlay 1.5s linear infinite;
-ms-animation:CDPlay 1.5s linear infinite;
-moz-animation:CDPlay 1.5s linear infinite;
-webkit-animation:CDPlay 1.5s linear infinite;
animation:CDPlay 1.5s linear infinite;
}

/*==================animation=================*/
@-o-keyframes CDPlay
{
0%{ -o-transform:rotate(0deg);}
50%{ -o-transform:rotate(180deg);}
100%{ -o-transform:rotate(360deg);}
}
@-ms-keyframes CDPlay
{
0%{ -ms-transform:rotate(0deg);}
50%{ -ms-transform:rotate(180deg);}
100%{ -ms-transform:rotate(360deg);}
}
@-moz-keyframes CDPlay
{
0%{ -moz-transform:rotate(0deg);}
50%{ -moz-transform:rotate(180deg);}
100%{ -moz-transform:rotate(360deg);}
}
@-webkit-keyframes CDPlay
{
0%{ -webkit-transform:rotate(0deg);}
50%{ -webkit-transform:rotate(180deg);}
100%{ -webkit-transform:rotate(360deg);}
}
@keyframes CDPlay
{
0%{ transform:rotate(0deg);}
50%{ transform:rotate(180deg);}
100%{ transform:rotate(360deg);}
}
/*音乐播放器*/

/*.Music1{ position:relative; height:100%;}
.Music1 .IndexSingerImg{ width:53.81%; padding-left:10.81%; padding-top:10.81%;}
.Music1 .IndexSinger{ background:url(../images/bg35.png) no-repeat left top; background-size:80.54% auto; position:absolute; width:100%; height:100%; top:0; z-index:5;}
.Music1 .IndexSinger a{ display:block; width:100%; height:100%;}
.Music1 .IndexSinger span{ float:right; padding-top:32.43%; max-width:32.68%;}
.Music1 .IndexSinger span p{ margin:0; color:#f9f0e4; line-height:1.5;}
.Music1 .IndexSinger span p.IndexSingerName{}
.Music1 .IndexSinger span p.IndexSongName{ font-size:0.75em;}
.Music1 .IndexSinger span img{ padding-top:15%; width:50%;}
.ColCont3_2 #DIV2 dl dt{ width:41.93%; float:left; padding-top:12.01%; overflow:hidden;}
.ColCont3_2 #DIV2 dl dt .IndexSingList{}
.ColCont3_2 #DIV2 dl dt .IndexSingList .wrap{ position:relative;}
.ColCont3_2 #DIV2 dl dt .IndexSingList .wrap ul{ position:absolute;}
.ColCont3_2 #DIV2 dl dt .IndexSingList ul li{ float:left; padding:0 10px;}
.ColCont3_2 #DIV2 dl dt .IndexSingList .com img{ width:92px; height:92px; border:6px solid #735a4b; border-radius:46px; display:block;}
.ColCont3_2 #DIV2 dl dt .IndexSingList p{ font-size:1em; color:#f9f0e4; font-weight:normal; text-align:center; line-height:2;}
.ColCont3_2 #DIV2 dl dt .IndexSingList .next2{ position:absolute; right:4%; top:45%; z-index:10;}*/

.ColCont4_1{ max-width:1024px; margin:0 auto; text-align:center; line-height:1.8; padding-bottom:30px;}
.ColCont4_1 p{ margin:0;}
.ColCont4_2{ max-width:1024px; margin:0 auto; text-align:center; color:#6d5d52; background:url(../images/bg31.png) no-repeat center; padding:20px 0; line-height:1.5;}

.ColCont5_1{ max-width:1024px; margin:0 auto; text-align:center; line-height:1.8; padding-bottom:30px;}
.ColCont5_1 img{ display:block; margin:0 auto;}
.ColCont5_1 p{ margin:0;}
.ColCont5_2{ max-width:1024px; margin:0 auto; padding-bottom:20px;}
.ColCont5_2 .DIV{ width:50%; float:left;}
.ColCont5_2 #ColDIV1{ position:relative;}
.ColCont5_2 #ColDIV1 .prev1{ position:absolute; bottom:10px; right:41px; z-index:9;}
.ColCont5_2 #ColDIV1 .next1{ position:absolute; bottom:10px; right:10px; z-index:9;}
.ColCont5_2 #ColDIV1 img{ width:100%;}
.ColCont5_2 #ColDIV2{ background:url(../images/bg36.jpg) no-repeat center; background-size:100% 100%;}
.ColCont5_2 #ColDIV2 .IndexNews{ width:88.339%; height:100%; margin:0 auto; padding-top:3.18%;overflow:hidden;}
.ColCont5_2 #ColDIV2 .IndexNews .TabList{ height:15.889%;}
.ColCont5_2 #ColDIV2 .IndexNews .TabList ul li{ width:19.33%; float:left; cursor:pointer;}
.ColCont5_2 #ColDIV2 .IndexNews .TabList ul li img{filter:alpha(opacity=30); -moz-opacity:0.3; -khtml-opacity:0.3; opacity:0.3;}
.ColCont5_2 #ColDIV2 .IndexNews .TabList ul li.oncur img{filter:alpha(opacity=100); -moz-opacity:1; -khtml-opacity:1; opacity:1;}
.ColCont5_2 #ColDIV2 .IndexNews .IndexNewsList{ height:83%; width:100%;}
.ColCont5_2 #ColDIV2 .IndexNews .NewsDay1{ width:28%; float:left;}
.ColCont5_2 #ColDIV2 .IndexNews .NewsDay1 p{ font-size:1em; color:#c1b0a6;}
.ColCont5_2 #ColDIV2 .IndexNews .NewsDay1 span{ font-size:2.5em; color:#f9f0e4; font-family:Arial;}
.ColCont5_2 #ColDIV2 .IndexNews .MonList{ background:url(../images/bg40.png) no-repeat left bottom; background-size:100% auto;}
.ColCont5_2 #ColDIV2 .IndexNews .MonList ul li{ float:left; font-size:1em; color:#9d887a; width:8.333%; padding-bottom:2.5%;}
.ColCont5_2 #ColDIV2 .IndexNews .MonList ul li.onselect{ color:#f9f0e4;}
.ColCont5_2 #ColDIV2 .IndexNews .NewsCont1{ width:58%; float:left; margin-left:10%;}
.ColCont5_2 #ColDIV2 .IndexNews .NewsCont1 a{ font-size:1.125em; color:#f9f0e4;}
.ColCont5_2 #ColDIV2 .IndexNews .NewsCont1 p{ font-size:0.875em; color:#c1b0a5;}
.ColCont5_2 #ColDIV2 .IndexNews .NewsCont1 a.more{ float:right;}
.ColCont5_2 #ColDIV2 .IndexNews .NewsCont1 a.more img{ width:80%;}
.ColCont5_2 #ColDIV2 .IndexNews .NewsLei{ position:relative; height:100%;}
.ColCont5_2 #ColDIV2 .IndexNews .MonList{ background:url(../images/bg40.png) no-repeat left bottom; background-size:100% auto; position:absolute; bottom:0; width:100%;}
.ColCont5_2 #ColDIV2 .IndexNews .MonList ul li{ float:left; font-size:1em; color:#9d887a; width:8.333%; padding-bottom:2.5%;}
.ColCont5_2 #ColDIV2 .IndexNews .MonList ul li.onselect{ color:#f9f0e4;}
.ColCont5_2 #ColDIV2 .IndexNews .NewsList1{ padding:2% 0; width:94%;}
.ColCont5_2 #ColDIV2 .IndexNews .NewsList1 .MonNewsList{ position:absolute; left:0; background:url(../images/bg36.jpg) no-repeat center; background-size:100% 100%; width:100%;}
.ColCont5_2 #ColDIV2 .IndexNews .NewsList1 .MonNewsList .MonNewsList2{ width:95%;}
.ColCont5_2 #ColDIV2 .IndexNews .next3{ position:absolute; top:35%; right:0; z-index:10;}
.ColCont5_2 #ColDIV2 .IndexNews .NewsLei .Newest{ position:relative; padding-right:5%; padding-top:3%;}
.ColCont5_2 #ColDIV2 .IndexNews .NewsLei .Newest .next4{ position:absolute; top:40%; right:0; z-index:10;}
.ColCont5_2 #ColDIV2 .IndexNews .NewsLei .Newest ul li{}
.ColCont5_2 #ColDIV2 .IndexNews .NewsLei .Newest ul li a{ color:#c1b0a5; display:block; padding:3%;}
.ColCont5_2 #ColDIV2 .IndexNews .NewsLei .Newest ul li a:hover{ text-decoration:none; background:#755b4d;}
.ColCont5_2 #ColDIV2 .IndexNews .NewsLei .Newest ul li a span.titleName{ font-size:1em; padding-bottom:3%; display:block;}
.ColCont5_2 #ColDIV2 .IndexNews .NewsLei .Newest ul li a p{ font-size:0.75em; line-height:1.5;}
.ColCont5_2 #ColDIV2 .IndexNews .NewsLei .Newest ul li a img{ float:right;}
.ColCont5_2 #ColDIV2 .IndexNews .NewsLei .Newest ul li a .TimeSpan{ font-size:0.75em;}


.ColCont6_1{ max-width:1024px; margin:0 auto; text-align:center; line-height:1.8; padding-bottom:30px;}
.ColCont6_1 img{ display:block; margin:0 auto;}
.ColCont6_1 p{ margin:0;}
.ColCont6_2{ max-width:1024px; margin:0 auto; text-align:center;}
.ColCont6_2 .Title1_1 img{ width:62.4%; margin:0 auto;}
.ColCont6_2 .Cont6_1{ text-align:right; padding:3% 0; }
.ColCont6_2 .Cont6_1 span{ color:#5e423e; background:url(../images/bg22.png) no-repeat right center; margin-right:10px; padding-right:15px; display:block;}
.ColCont6_2 .Cont6_1 p{ font-size:0.75em; color:#6d5d52; padding-right:25px; margin:0;}
.ColCont6_2 .Cont6_2{ text-align:left; padding:3% 0; }
.ColCont6_2 .Cont6_2 span{ color:#5e423e; background:url(../images/bg22.png) no-repeat left center; margin-left:10px; padding-left:15px; display:block;}
.ColCont6_2 .Cont6_2 p{ font-size:0.75em; color:#6d5d52; padding-left:25px; margin:0;}
.ColCont6_2 .Cont6_2 a{ font-size:0.75em; color:#6d5d52; padding-left:25px; display:block;}
.ColCont6_2 .Cont6_3{ padding:5% 0; }

.carousel{ margin:0px auto; padding:40px 0px 0px 0; overflow:hidden; position:relative; max-width:1024px;}
.carousel .slides{ margin:0 auto; overflow:hidden; position:relative; z-index:9;}
.carousel .slides .slideItem{padding:0px;overflow:hidden;position:absolute;opacity:1 !important;}
.carousel .slides .slideItem a{overflow:hidden;display:block;}
.carousel .slides .slideItem .intro{ color:#414141; width:100%; background:url(../images/bg4.png) no-repeat center bottom; display:none; padding:0 20px;}
.carousel .slides .slideItem .intro .cont{ overflow:hidden; padding:3% 0;}
.carousel .slides .slideItem .intro .cont .title{ font-size:1.125em; color:#6e544f; line-height:2;}
.carousel .slides .slideItem .intro .cont #divContent{ font-size:0.875em; color:#6d5d52; line-height:1.5;}
.carousel .slides .slideItem .intro .cont #divContent span{ width:20%; height:20px; background:url(../images/bg6.png) no-repeat center; display:none; float:right;}
.carousel .prevButton{ width:36px; height:65px; position:absolute; background:url(../images/bg41.jpg) no-repeat center; z-index:10; top:27%; cursor:pointer;}
.carousel .nextButton{ width:36px; height:65px; position:absolute; background:url(../images/bg42.jpg) no-repeat center; z-index:10; top:27%; cursor:pointer;}

/*index*/

/*links*/
.LinkList{ max-width:1024px; margin:30px auto;}
.LinkList ul li{}
.LinkList ul .LinkImg{ padding:10px 0;}
.LinkList ul .LinkImg a{ padding:1px; display:block; overflow:hidden;}
.LinkList ul .LinkImg a:hover{}
.LinkList ul .LinkImg img{ width:100%; border:solid 1px #e0e0e0;}
.LinkList ul .LinkImg p{ font-size:1em; font-weight:normal; line-height:2; text-align:center;}
/*links*/

/*bottom*/
.Bottomer{ font-size:0.75em; color:#c1b5ac; background:url(assets/images/bgbottom.png) no-repeat center; background-size:100% 100%; padding:23px 0 15px;}
.Bottomer .container{ max-width:1440px;}
.Bottomer .BottomCont{ float:right;}
.Bottomer .BottomLeft{ float:left;}
.Bottomer .BottomLink{ line-height:2.5;}
.Bottomer .BottomLink a{ color:#f9f0e4; padding:0 10px;white-space:nowrap;}
.Bottomer .BottomLink em{ color:#a4958b;}
.Bottomer .col-md-6{ width:50%;}
.Design a{ color:#c1b5ac;}
.Bottom_Share{ float:right;}
.Bottom_Share .bds_tools a.xlwb{ background:url(assets/images/sinabottom.png) no-repeat center; width:28px; height:28px; margin-right:13px;} 
.Bottom_Share .bds_tools a.wx{ background:url(assets/images/wechatbottom.png) no-repeat center; width:28px; height:28px;} 

.BackTop{ position:fixed; right:0; bottom:30px; width:46px; height:40px; z-index:30;}
.BackTop a{ display:block;}

/*bottom*/

@media (max-width: 1199px)
{
	.container .NavCont{ float:none;}
}

@media (max-width: 991px) 
{
	body{ font-size:1.4em;}
	.container .NavCont ul li{ margin:0 10px;}
	.Current{ font-size:1em;}
	.ColumnParent img{ width:60%;}
	.Content1{ font-size:1em;}
	.Content3 img{ margin:0 auto;}
	
	.Content5 .PartyList li div.PartyCont .PartyTitle{ font-size:1em;}
	.Content5 .PartyList li div.PartyCont p{ font-size:0.857em;}
	.Content5 .PartyList li div.PartyCont .more{ font-size:0.857em;}
	
	.Content6 .Content6_1{ font-size:0.857em;}
	
	.PartyName p{ color:#ae8a81; font-size:1em; line-height:1.5; padding-bottom:20px;}
	.PartyInfo{ max-width:1180px; margin:20px auto 40px; padding:0 40px; font-size:0.857em; color:#310902;}
	
	.trading .calendartable table td{ font-size:1.14em;}
	.trading .trading_content .con ul li a{ font-size:0.875em;}
	
	.MusicList .HList p{ font-size:0.857em;}
	.Content11 .Content11_1{ font-size:1em;}
	
	.Bottomer{ font-size:0.857em;}
}

@media (max-width: 767px) 
{
	body{ font-size:1.2em;}
	.Toper{ background-size:auto;}
	.container .NavCont{ float:none; padding-left:0; padding-right:0; padding-top:0;}
	.container .NavCont ul li{ width:31%; float:left; margin:3px;}
	.container .NavCont ul li a{ padding:14px 0;}
	
	#homeNavWrapper{ display:none;}
	.IndexNav{ display:none;}
	.TopHeight{ display:none;}
	
	.Top_Share{ margin-top:13px;}
	.Top_Share{ position:absolute; top:50px; right:0;}
	.TopCopy .Top_Share{ margin-top:8px;}
	.TopCopy .Top_Share{ position:absolute; top:0px; left:0;}
	.Current{ font-size:1.17em;}
	.Content1{ font-size:1em;}
	
	.Content4 .ShopList ul li{ width:48%; float:left;}
	.Content4 .ShopList ul li .ShopCont span{ font-size:2em;}
	.Content4 .ShopList ul li .ShopCont p{ font-size:1.17em;}
		
	.Content5 .PartyList li div.PartyCont .PartyTitle{ font-size:1.17em;}
	.Content5 .PartyList li div.PartyCont p{ font-size:1em;}
	.Content5 .PartyList li div.PartyCont .more{ font-size:1em;}
	
	.Content5 .PartyList li{ background:none; padding:5%; margin:5% 0; border:1px solid #8d766c;}
	.Content5 .PartyList li div.PartyTime{ display:none;}
	.Content5 .PartyList li div.PartyCont{  width:100%;margin-right:0;}
	.Content5 .PartyList li div.PartyCont .PartyTitle{ line-height:2; display:block;}
	.Content5 .PartyList li div.PartyCont .PartyTime1{ display:inline-block; float:right; color:#804036;}
	.Content5 .PartyList li div.PartyImg{  width:100%;margin-right:0;}
	.Content5 .PartyList li div.PartyImg img{ width:100%;}
	
	.Content6 .Content6_1{ font-size:1em;}
	
	.Page a{ font-size:1em;}
	.Music1 .IndexSinger span p.IndexSingerName{ font-size:1.33em;}
	.Music1 .IndexSinger span p.IndexSongName{ font-size:1em;}
	
	.PartyName p{ color:#ae8a81; font-size:1.17em; line-height:1.5; padding-bottom:20px;}
	.PartyInfo{ max-width:1180px; margin:20px auto 40px; padding:0 40px; font-size:1em; color:#310902;}
	
	.KeyTable .TableTitle{font-size:1em;}
	
	.trading .trading_content .con ul li a{ font-size:1em;}
	.trading .trading_content{ margin-top:3%;}
	
	.MusicList .HList p{ font-size:1em;}
	.Content11 .Content11_1{ font-size:1.17em;}
	
	.HomeBanner .fp-controlArrow.fp-next{ width:24px; height:47px;}
	.HomeBanner .fp-controlArrow.fp-prev{ width:24px; height:47px;}
	
	.ColCont1_3 p{ width:100%; margin-left:0;}
	
	.ColCont2_2 ul li{ width:33.3333%; float:left;}
	.ColCont2_2 ul li .ImgTop p{ font-size:1.4em;}
	.ColCont2_2 ul li .ShopCont span{ font-size:1.4em;}
	
	.ColCont3_2 .DIV{ width:100%; float:none;}
	
	.Bottomer{ font-size:1em;}
	.Bottomer .col-sm-7{}
	.BottomCont{ padding-top:20px; float:none;}
	.BottomCont .col-md-9{ text-align:left;}
	.Bottom_Share{ float:none;}
}

@media (min-width: 451px) and (max-width: 580px)
{
	.MusicList .HList p span{ display:block;}
	.Bottomer .BottomLeft{ width:100%;}
	.Bottomer .BottomCont{ width:100%;}
}

@media (min-width: 450px) and (max-width: 500px)
{
	.container .NavCont{ float:none;}
	.Top_Share{ position:static; margin:13px auto 0;}
	.ColCont2_2 ul li{ width:100%;}
	.ColCont2_2 ul li .ImgTop p{ font-size:1.875em;}
	.ColCont5_2 .DIV{ width:100%; float:none;}
}

@media (max-width: 450px)
{
	body{ font-size:1.2em;}
	.container .NavCont{ float:none;padding-top:0;}
	.Top_Share{ position:static; margin:13px auto 0;}
	.TopCopy .Top_Share{ position:fixed; margin:8px 0 0;}
	.CurrentColumn{ font-size:1.8em;}
	.Current{ font-size:1em;}
	.Content1{ font-size:1em;}
	
	.Content4 .ShopList ul li{ width:98%; float:left; margin-top:40px; position:relative;}
	.Content5 .PartyList li{ background:none; padding:5%; margin:5% 0; border:1px solid #8d766c;}
	.Content5 .PartyList li div.PartyTime{ display:none;}
	.Content5 .PartyList li div.PartyCont{  width:100%;margin-right:0;}
	.Content5 .PartyList li div.PartyCont .PartyTitle{ line-height:2; display:block;}
	.Content5 .PartyList li div.PartyCont .PartyTime1{ display:inline-block; float:right; color:#804036;}
	.Content5 .PartyList li div.PartyImg{  width:100%;margin-right:0;}
	.Content5 .PartyList li div.PartyImg img{ width:100%;}	
	
	.Content5 .PartyList li div.PartyCont .PartyTitle{ font-size:1.17em;}
	.Content5 .PartyList li div.PartyCont p{ font-size:1em;}
	.Content5 .PartyList li div.PartyCont .more{ font-size:1em;}
	.KeyTable .TableImg{ width:33.30%; float:left; background:url(../images/bg15.png) no-repeat left top; background-size:498% 100%;}
	.KeyTable .TableImg img{ padding:9.1% 5.1%;}
	.KeyTable .TableImg p{ font-size:1em; padding:5.1%;}
	
	.KeyCont2{ font-size:1.67em;}
	.KeyCont2 img{ max-width:40%; }
	
	.trading .table_title em{ padding:0 5.86%;}
	.trading .blue:hover a{  background-size:100% 100%;}
	.MusicList .col-xs-3{ width:50%;}
	
	.HomeBanner .fp-controlArrow.fp-next{ width:18px; height:35px;}
	.HomeBanner .fp-controlArrow.fp-prev{ width:18px; height:35px;}
		
	.ColCont1_4 ul li{ width:49%; padding-top:1px;}
	.ColCont2_1 a{ padding:0 2.45%;}
	.ColCont2_2 ul li{ width:100%;}
	
	.ColCont3_2 .DIV{ width:100%; float:left;}
	
	.Music1 .IndexSinger span{ max-width:33.68%;}
	.Music1 .IndexSinger span p.IndexSingerName{ font-size:1.17em;}
	.Music1 .IndexSinger span p.IndexSongName{ font-size:1em;}
	.Music1 .IndexSinger span img{ display:none;}
	.ColCont3_2 #DIV2 dl dt .IndexSingList .com img{ width:52px; height:52px; border:3px solid #735a4b; border-radius:26px; display:block;}
	.ColCont5_2 .DIV{ width:100%; float:none;}
	
	.Bottomer{ font-size:1em;}
	.Bottomer .BottomLeft{ width:100%;}
	.Bottomer .BottomCont{ width:100%;}
}

/*音乐播放器*/
@media screen and (max-width:1024px){
	.ColCont3_2{ height:216px;}
	.MusicBox .PlayerBox{ width:44%;}
	.MusicBox .MusicList{ width:55%;}
	
}
@media screen and (max-width:980px){
	.ColCont3_2{ height:207px;}
	.MusicBox .PlayerBox{ width:42%;}
	.MusicBox .MusicList{ width:57%;}
	.MusicBox .MusicList{ margin-top:6%;}
}
@media screen and (max-width:800px){
	.ColCont3_2{ height:auto;}
	.ColCont3_2 #DIV1{ float:none; width:100%}
	.ColCont3_2 .DIV{ float:none; width:100%;}
	.MusicBox{ padding:42px 50px 20px 50px;}
	.MusicBox .MusicList .List{ height:142px; width:272px;}
	.MusicBox .MusicList .List li{ width:134px; padding:0 6px;}
	.MusicBox .MusicList{ width:49%;}
	.MusicBox .MusicList .aBtn{ height:129px;}
}
@media screen and (max-width:768px){
    .MusicBox .MusicList{ width:51%;}
    .MusicBox .MusicList .List{ width:268px;}
}
@media screen and (max-width:640px){
    .MusicBox{ padding:59px 24px 20px;}
    .MusicBox .MusicList{ width:52%;}
    .MusicBox .MusicList .List{ width:234px;}
    .MusicBox .MusicList .List li{ width:117px;}
}
@media screen and (max-width:480px){
    .MusicBox .MusicList{ width:46%;}
    .MusicBox .MusicList .List{ width:128px;}
    .MusicBox .MusicList .List li{ width:64px;}
    .MusicBox .MusicList .aBtn{ height:57px;}
    .MusicBox .MusicList .List{ height:74px;}
    .Play_contorl{ display:none;}
}
@media screen and (min-width:481px)
{
    .mbPlayBtn{ display:none;}
    }
@media screen and (max-width:414px){ /*iPhone 6 Plus*/
    .MusicBox{ padding:42px 7px 12px;}
    .MusicBox .MusicList{ width:50%;}
}
@media screen and (min-width:320px) and (max-width:360px){ /*iPhone 5*/
    .MusicBox .PlayerBox{ width:50%;}
    .MusicBox .PlayerBox .CD{ float:none;}
    .MusicBox .PlayerBox .info{ float:none; padding:7% 0 0 7%; width:100%;}
    .MusicBox .PlayerBox .info .Rhythm{ display:none;}
    .MusicBox .MusicList{ width:50%;}
    .MusicBox .MusicList .List{ width:96px;}
    .MusicBox .MusicList .List li{ width:48px; padding:0 2px;}
    .mbPlayBtn{ top:35%;}
}







/* Additional default styles for the editor */
/* do not edit it for now, just be same with backend editor style */
html {
    cursor: text;
}

html.ios {
    width: 100px;
    min-width: 100%;
}

body {
    font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 9px 10px;
    max-width: 100%;
    -webkit-font-smoothing: antialiased !important;
    overflow-wrap: break-word;
    word-wrap: break-word; /* Old syntax */
}

body.rtl {
    font-family: Tahoma, "Times New Roman", "Bitstream Charter", Times, serif;
}

body.locale-he-il,
body.locale-vi {
    font-family: Arial, "Times New Roman", "Bitstream Charter", Times, serif;
}

body.wp-autoresize {
    overflow: visible !important;
    /* The padding ensures margins of the children are contained in the body. */
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/* When font-weight is different than the default browser style,
Chrome and Safari replace <strong> and <b> with spans with inline styles on pasting?! */
body.webkit strong,
body.webkit b {
    font-weight: bold !important;
}

pre {
    font-family: Consolas, Monaco, monospace;
}

td,
th {
    font-family: inherit;
    font-size: inherit;
}

/* For emoji replacement images */
img.emoji {
    display: inline !important;
    border: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.mceIEcenter {
    text-align: center;
}

img {
    height: auto;
    max-width: 100%;
}

.wp-caption {
    margin: 0; /* browser reset */
    max-width: 100%;
}

/* iOS does not obey max-width if width is set. */
.ios .wp-caption {
    width: auto !important;
}

.wp-caption img {
    display: block;
}

div.mceTemp {
    -ms-user-select: element;
}

dl.wp-caption,
dl.wp-caption * {
    -webkit-user-drag: none;
}

.wp-caption-dd {
    font-size: 14px;
    padding-top: 0.5em;
    margin: 0; /* browser reset */
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alignleft {
    float: left;
    margin: 0.5em 1em 0.5em 0;
}

.alignright {
    float: right;
    margin: 0.5em 0 0.5em 1em;
}

/* Remove blue highlighting of selected images in WebKit */
img[data-mce-selected]::selection {
    background-color: transparent;
}

/* Styles for the WordPress plugins */
.mce-content-body img[data-mce-placeholder] {
    border-radius: 0;
    padding: 0;
}

.mce-content-body img[data-wp-more] {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 96%;
    height: 16px;
    display: block;
    margin: 15px auto 0;
    outline: 0;
    cursor: default;
}

.mce-content-body img[data-mce-placeholder][data-mce-selected] {
    outline: 1px dotted #888;
}

/* Gallery, audio, video placeholders */
.mce-content-body img.wp-media {
    border: 1px solid #aaa;
    background-color: #f2f2f2;
    background-repeat: no-repeat;
    background-position: center center;
    width: 99%;
    height: 250px;
    outline: 0;
    cursor: pointer;
}

.mce-content-body img.wp-media:hover {
    background-color: #ededed;
    border-color: #72777c;
}

.mce-content-body img.wp-media.wp-media-selected {
    background-color: #d8d8d8;
    border-color: #72777c;
}

/* Image resize handles */
.mce-content-body div.mce-resizehandle {
    border-color: #72777c;
    width: 7px;
    height: 7px;
}

.mce-content-body img[data-mce-selected] {
    outline: 1px solid #72777c;
}

.mce-content-body img[data-mce-resize="false"] {
    outline: 0;
}

audio,
video,
embed {
    display: -moz-inline-stack;
    display: inline-block;
}

audio {
    visibility: hidden;
}

/* Fix for proprietary Mozilla display attribute, see #38757 */
[_moz_abspos] {
    outline: none;
}

a[data-wplink-url-error],
a[data-wplink-url-error]:hover,
a[data-wplink-url-error]:focus {
    outline: 2px dotted #dc3232;
    position: relative;
}

a[data-wplink-url-error]:before {
    content: '';
    display: block;
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    outline: 2px dotted #fff;
    z-index: -1;
}

/**
 * WP Views
 */

.wpview {
    width: 99.99%; /* All IE need hasLayout, incl. 11 (ugh, not again!!) */
    position: relative;
    clear: both;
    margin-bottom: 16px;
    border: 1px solid transparent;
}

.mce-shim {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.wpview[data-mce-selected="2"] .mce-shim {
    display: none;
}

.wpview .loading-placeholder {
    border: 1px dashed #ccc;
    padding: 10px;
}

.wpview[data-mce-selected] .loading-placeholder {
    border-color: transparent;
}

/* A little "loading" animation, not showing in IE < 10 */
.wpview .wpview-loading {
    width: 60px;
    height: 5px;
    overflow: hidden;
    background-color: transparent;
    margin: 10px auto 0;
}

.wpview .wpview-loading ins {
    background-color: #333;
    margin: 0 0 0 -60px;
    width: 36px;
    height: 5px;
    display: block;
    -webkit-animation: wpview-loading 1.3s infinite 1s steps(36);
    animation: wpview-loading 1.3s infinite 1s steps(36);
}

@-webkit-keyframes wpview-loading {
    0% {
        margin-left: -60px;
    }
    100% {
        margin-left: 60px;
    }
}

@keyframes wpview-loading {
    0% {
        margin-left: -60px;
    }
    100% {
        margin-left: 60px;
    }
}

.wpview .wpview-content > iframe {
    max-width: 100%;
    background: transparent;
}

.wpview-error {
    border: 1px solid #ddd;
    padding: 1em 0;
    margin: 0;
    word-wrap: break-word;
}

.wpview[data-mce-selected] .wpview-error {
    border-color: transparent;
}

.wpview-error .dashicons,
.loading-placeholder .dashicons {
    display: block;
    margin: 0 auto;
    width: 32px;
    height: 32px;
    font-size: 32px;
}

.wpview-error p {
    margin: 0;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.wpview-type-gallery:after {
    content: '';
    display: table;
    clear: both;
}

.gallery img[data-mce-selected]:focus {
    outline: none;
}

.gallery a {
    cursor: default;
}

.gallery {
    margin: auto -6px;
    padding: 6px 0;
    line-height: 1;
    overflow-x: hidden;
}

.ie7 .gallery,
.ie8 .gallery {
    margin: auto;
}

.gallery .gallery-item {
    float: left;
    margin: 0;
    text-align: center;
    padding: 6px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ie7 .gallery .gallery-item,
.ie8 .gallery .gallery-item {
    padding: 6px 0;
}

.gallery .gallery-caption,
.gallery .gallery-icon {
    margin: 0;
}

.gallery .gallery-caption {
    font-size: 13px;
    margin: 4px 0;
}

.gallery-columns-1 .gallery-item {
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    width: 50%;
}

.gallery-columns-3 .gallery-item {
    width: 33.333%;
}

.ie8 .gallery-columns-3 .gallery-item,
.ie7 .gallery-columns-3 .gallery-item {
    width: 33%;
}

.gallery-columns-4 .gallery-item {
    width: 25%;
}

.gallery-columns-5 .gallery-item {
    width: 20%;
}

.gallery-columns-6 .gallery-item {
    width: 16.665%;
}

.gallery-columns-7 .gallery-item {
    width: 14.285%;
}

.gallery-columns-8 .gallery-item {
    width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    width: 11.111%;
}

.gallery img {
    max-width: 100%;
    height: auto;
    border: none;
    padding: 0;
}

/* rtl */
.rtl .gallery .gallery-item {
    float: right;
}